.ListeDossiers {
  display: flex;
  list-style: none;
  padding: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
  .message-liste-vide{
    width: 300px;
    height: 350px;
    margin: 10px;
    color: #fff;
    background-color: #008b8b;
    padding: 20px;
    font-size: 1.5em;
    .emoji{
      margin-top: 55px;
      display: block;
      text-align: center;
      font-size: 7rem;
    }
  }
}